 
@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300|Raleway:300');
@import 'normalize.styl'
@import 'fonts.styl'
@import 'struct.styl'

// @import 'fonts.styl'


// *
// 	border 1px solid 

.back-front
	background-image url('../img/slide-back.png')
	
.header-pag
	background rgba(#253646,.7)
	transition all .3s
	

.link-menu
	color rgb(217, 83, 79)
	

.social-net
	margin 0 auto
	position relative
	

.social
	display inline-block
	vertical-align top
	text-align center
	width 50px
	height 50px
	border-radius 50%
	background #18293a
	line-height 50px
	margin 10px
	margin-top 25px
	

.row-copyright-foot
	position absolute
	background #18293a
	height 50px
	bottom 0px
	width 100%
	
.text-copyright
	margin 0 auto
	text-align center
	font-size 14
	margin-top 25px
	font-family 'Raleway', sans-serif
	color #d9534f
//especials class



.row-foot, .row-right-foot
	position absolute
	width 100%
	height 150px
	background #253646


.back-dark-blues
	background #253646
	
	
.back-dark-blue
	background #2b3e50

.back-dark-art
	background #3b4a59

.back-dark-viol
	 background #3b4a59


.item-left-s
	margin-left -10px
	
.item-radius-s
	background-color rgba(0,0,0,.4)
	border-radius 8px

.sect-back,.sect-back-foot
	position relative
	background-image url('../img/background.png')
	background-repeat no-repeat
	background-position center
	background-size cover
	
.sect-back-foot
	background-image url('../img/phone.png')
	
	

.no-padding
	padding 0
	
.art-opacity
	background rgba(#3b4a59,.5)
	 


	 
.img-title
	color #fff
	// margin-bottom 10px}
	font-size 18px
	color #d9534f
	font-weight 100
	font-family 'Lato', sans-serif

.img-text
	color #e6e2e2
	font-size 14px
	// padding 5px
	
.title-shadow
	text-shadow 1px 0px 6px #110606
	color #fff
	
.art-shadow
	box-shadow 1px 3px 17px 7px #202d3a

.art-border
	border 10px solid rgba(4, 4, 4, 0.4)
	

	
.col-form
	width 90%
	margin-bottom 	50px
	

.col-opacity-form
	padding-top 20px
	background rgba(43, 62, 80,.7)

.col-box-small
	display inline-block
	vertical-align top 
	background #d9534f
	width 90px
	color #fff
	height 90px
	line-height 90px
	text-shadow 1px 0px 1px #110606


.form-btn
	background  rgb(217, 83, 79)
	outline none
	width 200px
	height 50px
	color #fff 
	




@media screen and (min-width 530px)
	.header-pag
		left 0px !important 


@media screen and (min-width 530px)
		
	.header-pag
		width 100%
	
		
	//special class

	.no-opacity
		background none
	
	.bottom-header
		position absolute
		bottom 0px
		background rgba(72, 85, 99,.9)
		



// @media screen and (min-width 768px)
// 	.sect-art
// 		padding-bottom 50px
		
// 	.sect-title
// 		font-size 28px
	
// 	.sect-text
// 		margin 0 auto
// 		width 70%
		
// 	.col-form
// 		width 70%

// 	.col-art
// 		display inline-block
// 		vertical-align top 
// 		width 40%
// 		margin 20px
		
	


@media screen and (min-width 992px)
	.col-art
		width 20%
		
	.col-box-small 
		width 90px
	
	.sect-art
		padding-bottom 70px

	.sect-text
		width 90%
		margin-top 20px
	

	.col-form
		width 80%
		
	.form
		width 80%
		


// @media screen and (min-width 1200px)
// 	body
// 		background #0084be
